<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Suite" verbose="1" >
    <test name="Mantis">
        <classes>
            <class name="com.adstream.api.tests.AdditionalServicesTest" />
            <class name="com.adstream.api.tests.UsersTest" />
        </classes>
    </test>
</suite>
